body {
    font-family: Arial, sans-serif;
    background: linear-gradient( #025464, #F8F1F1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

.form-group {
    display:contents;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

label, input, select {
    width: 100%;
    padding: 5px;
}

button {
    grid-column: 1 / -1;
    padding: 20px;
    background-color: #E57C23;
    color: #fff;
    border: none;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 123px;
    margin-right: 123px;
}

button:hover {
    background-color: #0056b3;
}

