
* {
    padding: 0;
    margin: 0;
    font-family: montserrat;
}
a{
    color:#333;
    text-decoration: none;
  }

.main {
    background: #025454;
    height: 80vh;
    background-color: antiquewhite;
    border: 15px solid #001C30;
    padding: 50px;
    margin: 20px;  
    align-items: center;
    text-align: center;
}
.container header h1{
    text-align: center;
    color: #001C30;
}
.container header p{
    text-align: center;
    color: #001C30;
}

#navbar{
    background:#E57C23;
    color:#fff;
    overflow:auto;
    position: sticky;
  }
  
  #navbar a{
    color:#fff
  }
  
  #navbar h1{
    float:left;
    padding-top:20px;
    padding-left: 20px;
  }
  
  #navbar ul{
    list-style:none;
    float:right;
  }
  
  #navbar ul li {
  float:left;
  }
  
  #navbar ul li a{
    display:block;
    padding:20px;
    text-align: center;
  }
  
  #navbar ul li a:hover,
  #navbar ul li a.current{
    background:#e8aa42;
    color:#f8f1f1;
  }
.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContent {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.address {
    width: 100%;
    text-align: left;
}

.formDetails {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;

}
.blankcontainer{
    min-height: 0px;
}

.media{
    size: 50%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 5vh 0;
}

form {
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2vh 0;
    width: 100%;
}

.contact-form input {
    width: 70%;
    margin-top: 3rem;
}

.contact-form textarea {
    width: 70%;
    margin-top: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.form .contact-form input[type=submit] :hover{
    background-color: transparent;
    color: #E57C23;
     
}

.form .contact-form input[type=submit]{
    background-color: #E8AA42;
    border: 2px solid #E8AA42;
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin-top: -5px;

}

.form .contact-form textarea:focus ~ span{
    transform: translateY(-20px);
    pointer-events: none;

}

.form .contact-form input ~ span{
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}

.form .contact-form input{
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    padding: 10px;
    border-bottom: 2px solid #001C30;
    font-size: 18px;
}

.form .contact-form textarea{
    width: 30rem;
    border: 0;
    background-color: transparent;
    font-size: 17px;
    border-bottom: 2px solid #001C30;
}
footer {
    background-color: #e8aa42;
  }
  .link_lists h3 {
    margin-bottom: 10px;
    color:#025454;
  }
  .link_lists ul {
    list-style: none;
  }
  .link_lists ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .news_letter h3 {
    margin-bottom: 10px;
    color:#025454;
  }
  .news_letter input {
    padding: 5px 40px;
    margin-bottom: 10px;
  }
  .footer_container {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }
  .icon_container {
    display: flex;
    gap: 15px;
    font-size: 32px;
  }